<!DOCTYPE html>
<html>
<head>
  <title>Tell us about yourself</title>
</head>
<body>

  <form method="post" action="/view/page">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
    </div>
    <div>
      <input type="submit" value="Submit Info">
    </div>
  </form>

</body>
</html>